@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.App {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  height: 100%;
  padding: 10px;
  background-color: #282c34;
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.textarea-container,
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}